.nav a:hover {
    color: #cc0000;
	font-weight: bold;
	text-decoration: none;;
}

.text {
    position: relative;
    margin-top: 90px;
}

.text h1 {
    font-family: georgia;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.text p {
    font-family: georgia;
    font-size: 20px;
    padding: 30px;
    margin-top: -20px; 
}

